.banner {
  background-color: #3f51b5;
  text-align: center;
  padding: 1rem;
  color: whitesmoke;
}

mat-vertical-stepper {
  margin-left: 8rem;
  margin-right: 8rem;
}

.example-input-wrapper {
  margin-bottom: 16px;
}

label {
  margin-right: 4px;
}

mat-card {
  max-width: 30%;
  background-color: #bbddf9;
}

h3 {
  font-weight: normal;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.example-button-row .mat-mdc-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.example-headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}
